.carousel{
    height:50%!important;
    display: flex!important;
    align-items: center!important;
}

.carousel-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
}

.price-style{
    font-size: 22;
    font-weight: 500;
}